/**** HEADER AND FOOTER ****/
$hdr-ftr-bg-color : #6abf16;
$section-free-quote-bg : #1775bf;


/**** BUTTONS ****/
$btn-bg-color : #1675bf;
$btn-text-color : white;


/**** MAIN ****/
$titles-color: #6abf17;
$main-text-opacity: .8;
/**** Award section ****/
$section-award-bg: #f6f7fb;

/**** Service Card ****/
$card-bg: #f2f5f8;
$card-title-color: #1775bf;