@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    @include reset;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 65%;
    margin: 0 auto;
}